.row {
    text-align: center;
    padding: 1rem 0;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }

#nashville-word {
    font-size: 2rem;
}

#image-placeholder {
    display: none;
    margin: auto;
}

.guesses-row {
    height: 300px;
}

#letters-guessed,
#guesses-remaining,
#win-total,
#loss-total {
    font-size: 1.5rem;
    line-height: 2rem;
}

#alert-message {
    text-align: center;
    font-size: 1.5rem;
}